.list-item-icon {
  font-size: 1.25rem;
  margin: 0 1.5rem;
  color: #999;
}

.link {
  display: flex;
  align-items: center;
  height: 3rem;
  border-left: 2px solid transparent;
  color: #999;
}

.link.active {
  border-left: 2px solid #6680C0;
  color: #efefef;
}

.link.active .list-item-icon {
  color: #6680C0;
}